<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Панель администратора</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src = 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.js'></script>
	<script src='./scripts/statsList.js'></script>
	<script src='./scripts/navigation.js'> </script>
	<script src="./scripts/usersTab.js"></script>
	<script src='./scripts/um.js'> </script>
	<script src='./scripts/bzm.js'> </script>
	<script src="./scripts/auth.js"></script>
</head>

<body>
<script>
	window.host = <%-JSON.stringify(host)%>;
	window.usersTab = {};
	window.usersTab.widgets = <%-JSON.stringify(widgets)%>;
</script>
<%- include dashboardPartials/nav.ejs %>

<div class="container">
	<div class="row">
		<%- include dashboardPartials/menuItems.ejs %>

		<%- include dashboardPartials/globalUsersTab.ejs %>

		<%- include dashboardPartials/globalBZTab.ejs %>


	</div>
</div>


</body>
</html>